(sho-routes) {
    handle /api/* {
        reverse_proxy sho-api:15080
    }

    handle /mcp/* {
        reverse_proxy sho-api:15080
    }

    handle {
        reverse_proxy sho-web:3000
    }
}

(sho-tls) {
    tls {
        dns alidns {
            access_key_id {env.ALICLOUD_ACCESS_KEY}
            access_key_secret {env.ALICLOUD_SECRET_KEY}
        }
    }
}

sho.splaz.cn {
    import sho-tls
    import sho-routes
}

sho.splaz.cn:15443 {
    import sho-tls
    import sho-routes
}
